.container
  %div.task-header
    %h2.header_pageTitle= truncate(@task.title, length: 20, omission: '...')
    .menu-container
      %button.menu-button{ tabindex: "0" }
        = image_tag 'actions.svg', class: 'dropbtn'
      .menu-content
        = link_to 'Edit', edit_board_task_path(@board, @task), class: "menu-item"
        = link_to 'Delete', board_task_path(@board, @task), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "menu-item"

  - if @task.eyecatch.attached?
    %div.task_eyecatch-show
      = image_tag @task.eyecatch

  %div.task_description-show
    %p= @task.content

  .comments-section
    %h2.comment_title Comment
    - if @task.comments.any?
      - @task.comments.each do |comment|
        .comment_box
          .comment-header
            - if comment.user.avatar.attached?
              = image_tag comment.user.avatar, class: "comment-avatar"
            - else
              = image_tag "default-avatar.png", class: "comment-avatar"
          .comment-content
            %p= truncate(comment.content, length: 120, omission: '...')
    - else
      %p まだコメントはありません。

    .comment_add
      = link_to "+ Add new comment", new_board_task_comment_path(@task.board, @task)
